<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/registro']">Regístrate</ion-button>
    </ion-buttons>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Iniciar Sesión</ion-title>
    </ion-toolbar>
  </ion-header>
  <p align="center">
    <img src="../../assets/login_image.png" width="70%">
  </p>
  <ion-item>
    <ion-input placeholder="Correo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input placeholder="Contraseña"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="onEntrar()">Entrar</ion-button>
</ion-content>
